doctype html
html(lang="en" dir="ltr")
    head
        meta(charset='utf-8')
        title= Login Page
    body
        h1 #{message}
        form(action="/login" method="post")
            input(type="text" name="username" placeholder="id") br
            input(type="password" name="password" placeholder="id") br
            input(type="submit")